

.stateSection {
  text-align: center;
  padding: 20px;
  margin-top:80px;

}

.imageGrid {
   display:flex;
  flex-wrap: wrap; 
  justify-content: center;
   gap: 15px;
   
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.3s ease-in-out;
}

.image:hover {
  transform: scale(1.05);
}
