.bookContainer{
   width: 100%;
  height: 100%;
   /* background-color:aliceblue; */
    background-image:url("https://wallup.net/wp-content/uploads/2016/02/18/286966-nature-photography.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1 ;
  padding: 10px 20px 100px;
  
}

fieldset{

border: none;
height:90%  !important;
margin-top: 80px  !important;  
  border-radius: 10px;        
  padding: 30px 40px;         
  margin-bottom: 20px;        /* Space below */
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
   
}
 button{
    font-size: 23px;
    width:70vh ;
  padding: 8px ;
  border-radius: 10px !important;
   font-family: "Itim", cursive;
  transition: all 0.3s ease;
  border:none;
  background-color: rgba(28, 240, 9, 0.8);
  
}
h3{
font-size: 60px !important;
  padding: 8px ;
  border-radius: 8px;
 font-family: "Itim", cursive;
  font-weight: 800;
  font-style: normal;
  font-size:60px;
  transition: all 0.3s ease;
  margin-top: 10vh;
  color:rgb(217, 16, 86) !important;
  
}

.states{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
   font-family: "Itim", cursive;
 

}
.states h2{
  margin-bottom: 20px;
  color:rgb(239, 231, 234);
   font-family: "Itim", cursive;
  font-weight: 800;
  font-style: normal;
  font-size:30px;
}
select{
  padding: 10px 20px;
  font-size: 20px;
 
  border-radius: 8px;
  border:none;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: all 0.3s ease;
   -webkit-appearance: none; /* Chrome, Safari, Edge */
  -moz-appearance: none;    /* Firefox */
  appearance: none;
   width:250px;
  
}
select:hover {
  border-color:rgb(54, 229, 57);
  background-color: #fff;
  
}
select option {
  color:#2b2925;
  font-family: "Itim", cursive;
  font-weight: 800;
  font-style: normal;
  font-size:18px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.states form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
margin-bottom: 50px;
}

.states select,
.states input {
  padding: 10px;
  font-size: 20px;
  border-radius: 8px;
  background-color: #eeba41;
    font-family: "Itim", cursive;
  outline: none;
}

.states input {
  flex: 1;
  min-width: 200px;
}

.states button {
  padding: 10px 15px;
  font-size: 23px;
  background-color: #28a745;
  color: rgb(248, 244, 244);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width:160px;
  transition: background 0.3s ease;
}

.states button:hover {
  background-color: #218838;
}



@media screen and (max-width: 480px) {
  fieldset {
    padding: 20px;
    height: auto;
    margin-top: 20px;
  }

  h3 {
    font-size: 35px;
    margin-top: 10vh;
    text-align: center;
  }

  .states h2 {
    font-size: 35px;
    text-align: center;
  }

  select {
    width: 100%;
    font-size: 10px;
  }

  .states button {
    width: 100%;
    font-size: 30px;
  }

  button {
    width: 90%;
    font-size: 30px;
  }

  .states form {
    width: 90%;
  }
}

