.Card-container{
    display: flex;
     justify-content: center;
    align-items: center; 
    
}
img{
   border:none;
   border-radius: 8px;
   box-sizing: 4px 8px 4px rgba(0,0,0.5);
}
@media (max-width: 768px) {
  .Card-container {
    flex: 0 0 calc(50% - 15px); /* still 2 per row */
    padding: 8px;
    width:50% ;
  }
img{
   width: 40px;
   border-radius: 8px;
   box-sizing: 3px 6px 3px rgba(0,0,0.5);
}
 
}

/* ------------------- SMALL MOBILE (max 480px) ------------------- */
@media (max-width: 480px) {
  .achivement-container {
    padding: 15px;
    gap: 15px;
  }

  .achivement-box {
    flex: 0 0 100%;   /* one per row */
    padding: 15px;
  }

  .title {
    font-size: 18px !important;
  }

  .description {
    font-size: 13px;
  }
}

/* ------------------- EXTRA SMALL (max 360px) ------------------- */
@media (max-width: 360px) {
  .achivement-box {
    padding: 12px;
  }

  .title {
    font-size: 16px !important;
  }

  .description {
    font-size: 12px;
  }
}